/* --------------------------------------------------------------------

  @author	Dustin Möller <http://minded-design.de/>
			<dustin@minded-design.de>

  Copyright (C) 2013 Dustin Möller. All rights reserved.

  --------------------------------------------------------------------- */
/*		label.valid {
		  width: 24px;
		  height: 24px;
		  background: url(/images/template/docs/contact/valid.png) center center no-repeat;
		  display: inline-block;
		  text-indent: -9999px;
		}*/
		label.error {
			color: #B94A48;
			margin-bottom: 10px;
			display: inline-block;
			*display: inline;
			padding-left: 5px;
			vertical-align: middle;
			*zoom: 1;
		}