/* Elastislide Style */
.es-carousel-wrapper,
.es-carousel-wrapper2{
	background: #101010;
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	position:relative;
	margin-bottom:20px;
}
.es-carousel,
.es-carousel2{
	overflow:hidden;
	background:#000;
}
.es-carousel ul,
.es-carousel2 ul{
	display:none;
}
.es-carousel ul li,
.es-carousel2 ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a,
.es-carousel2 ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a,
.es-carousel2 ul li.selected2 a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img,
.es-carousel2 ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span,
.es-nav2 span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(/images/template/docs/photo/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
/*	padding:4px;*/
}
.es-nav span.es-nav-next,
.es-nav2 span.es-nav-next2{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover,
.es-nav2 span:hover{
	opacity:1.0;
}

#rg-gallery,
#rg-gallery2{
	padding-left:40px;
	padding-right:40px;
}

.rg-image-wrapper,
.rg-image-wrapper2{
	position:relative;
	padding:20px 30px;
	min-height:20px;
}
.rg-image,
.rg-image2{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img,
.rg-image2 img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a,
.rg-image-nav2 a{
	position:absolute;
	top:0px;
	left:0px;
	background:url(/images/template/docs/photo/arrow_left.png) no-repeat 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	outline:none;
}
.rg-image-nav a.rg-image-nav-next,
.rg-image-nav2 a.rg-image-nav-next2{
	right:0px;
	left:auto;
	background:url(/images/template/docs/photo/arrow_right.png) no-repeat 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover,
.rg-image-nav2 a:hover{
	opacity:0.8;
}
.rg-caption,
.rg-caption2 {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p,
.rg-caption2 p{
	font-size:15px;
	line-height:16px;
	padding:0 15px;
}
.rg-view,
.rg-view2{
	height:30px;
}
.rg-view a,
.rg-view2 a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(/images/template/docs/photo/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover,
.rg-view2 a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full,
.rg-view2 a.rg-view-full2{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected,
.rg-view2 a.rg-view-selected2{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs,
.rg-view2 a.rg-view-thumbs2{
	background-position:0px -16px;
}
.rg-loading,
.rg-loading2{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(/images/template/docs/photo/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}

.rg-view2,
.rg-thumbs2{
	display: none;
}
