/* --------------------------------------------------------------------

  @author	Dustin Möller <http://minded-design.de/>
			<dustin@minded-design.de>

  Copyright (C) 2013 Dustin Möller. All rights reserved.

  --------------------------------------------------------------------- */
@media (max-width: 1320px) {
	.big-screen{
		display:none;
	}
}

#header {
	background: url(../images/template/bgs/top_bg_2000.jpg) 50% 0 no-repeat fixed; min-height: 1190px;
	min-height: 1190px;
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	position: relative;
}

#service {
	background: url(../images/template/bgs/service_bg.jpg) 50% 0 repeat fixed; min-height: 1110px;
	min-height: 1110px;
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	position: relative;
}

#about {
	background: url(../images/template/bgs/about_bg_2000.jpg) 50% 0 repeat fixed; min-height: 785px;
	min-height: 785px;
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	position: relative;
}

#photo {
	background: url(../images/template/bgs/photo_bg.jpg) 50% 0 repeat fixed; min-height: 779px;
	min-height: 779px;
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	position: relative;
}

#press {
	background: url(../images/template/bgs/press_bg_3.jpg) 50% 0 repeat fixed; min-height: 779px;
	min-height: 779px;
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	position: relative;
}

#contact {
	background: #fff 50% 0 repeat fixed; min-height: 650px;
	min-height: 650px;
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
	position: relative;
}

#header_content{
	min-height: 700px;
/*	text-indent: -9999px;*/
	color:#fff;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Open Sans',Arial,sans-serif;
	line-height:1.8;
	font-size:17px;
	letter-spacing: 0.7;
	text-shadow: 1px 1px 3px #000000;
	margin-top: 400px;
	margin-bottom: 50px;
}

#header_content hr{
	width: 200px;
}

#header_content strong{
	font-size:25px;
}

#header_arrow{
	margin-top:-73px;
	cursor:pointer;
}

#logo_right{
	padding: 10px 20px 10px;
	margin-left: -20px;
	position:relative;
	top:10px;
	left:10px;
}

#what_is{
	text-align: center;
	max-width:70%;
	text-transform:none;
	margin-top:10px;
	font-size:15px;
}

.hide-me{
	display:none;
}

/* Service */

/* CONTAINER IMAGE */
@media (min-width: 1200px) {
	.ID-Image {
		width:533px;
		height:874px;
		background:url(../images/template/docs/service/figur_line.png) no-repeat;
		margin:150px auto 0;
	}

	.heart{
		margin-top: 40px;
		padding: 10px 10px 0;
	}
	.reduce{
		margin-right: 3px;
    margin-top: -210px;
    position: relative;
    right: -52px;
    margin-bottom:100px;
    padding: 10px 10px 0;
 
	}

	.bodyforming{
		margin-top: -49px;
	    position: relative;
	    right: 131px;
	    top: -169px;
	    padding: 10px 10px 0;
	 
	}
	.content_text_headline{
		font-size:21px;
	}
	.content_text_subheadline{
		font-size:19px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	.ID-Image {
		width:533px;
		height:874px;
		background:url(../images/template/docs/service/figur_line.png) no-repeat;
		margin:150px auto 0;
	}

	.heart{
		margin-top: 40px;
		padding: 10px 10px 0;
	}
	.reduce{
		margin-right: 3px;
    margin-top: -210px;
    position: relative;
    right: -52px;
    margin-bottom:100px;
    padding: 10px 10px 0;
 
	}

	.bodyforming{
		margin-top: -119px;
	    position: relative;
	    right: 62px;
	    top: -100px;
	    padding: 10px 10px 0;
	 
	}
	.content_text_headline{
		font-size:18px;
	}
	.content_text_subheadline{
		font-size:16px;
	}
}


@media (min-width: 768px) and (max-width: 979px) {
	.ID-Image {
		width:533px;
		height:874px;
		background:url(../images/template/docs/service/figur_line.png) no-repeat;
		margin:150px auto 0;
	}
	.heart{
		margin-top: 40px;
		padding: 10px 10px 0;
	}
	.reduce{
		margin-right: 3px;
    margin-top: -244px;
    position: relative;
    right: -37px;
    margin-bottom:100px;
    padding: 10px 10px 0;
 
	}

	.bodyforming{
		margin-top: -120px;
	    position: relative;
	    right: 45px;
	    top: -100px;
	    padding: 10px 10px 0;
	 
	}
	.content_text_headline{
		font-size:15px;
	}
}
@media (max-width: 767px) {
	.content_text_headline{
		font-size:18px;
	}
	.service_text{
		padding: 0 39px;
	}
	.heart{
		margin-bottom:40px;
		padding-top: 10px;
	}
	.bodyforming{
		margin-bottom:40px;
		padding-top: 10px;
	}
	.reduce{
		margin-bottom:40px;
		padding-top: 10px;
	}

	[class*="span"],
  .row-fluid [class*="span"] {
    float: left;
  }
}
/*@media (max-width: 480px) {*/
.service-content{
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
}
.service-content:hover{
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 1);
}

.content_text_headline{
	font-weight:300;
	text-transform: uppercase;
}

.content_text_subheadline{
	font-style:italic;
	text-transform: uppercase;
}

.service_text{
	text-align:left;
	font-size:13px;
}

.expand{
	text-align: left;
	margin-top:-1px;
	margin-bottom: 0px;
	cursor: pointer;
	padding:10px;
	font-weight: 300;
	color:#16B1F5;
	font-size:15px;
}

#service_hr{
	width:40px;
	border-color: #000;
	margin-top: 25px;
}



/* Service ENDE */

/* Contact */


#contact_form{
	padding: 20px 30px 20px 20px;
	background:#fff;
	position:relative;
	top:-70px;
	-webkit-box-shadow: 1px 1px 19px #cbd2c6;
	-moz-box-shadow: 1px 1px 19px #cbd2c6;
	box-shadow: 1px 1px 19px #cbd2c6;
}

@media (min-width: 1200px) {
	#contact_owner{
		position:relative; top:40px;
	}
	#contact_facebook{
		position:relative; top:40px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	#contact_owner{
		position:relative; top:40px;
	}
	#contact_facebook{
		position:relative; top:40px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	#contact_owner{
		position:relative; top:40px;
	}
	#contact_facebook{
		position:relative; top:40px;
	}
}
@media (max-width: 767px) {
	#contact_owner{
		text-align: center;
	}
	#contact_facebook{
		text-align: center;
		margin-top: 20px;
	}
}

.contact_ie{
	margin-left:none;
}


.about_head{
	font-size:16px;
	font-weight:300;
}

